.tab-container{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.tab-container:hover{
    color: #FA3F63;
    text-decoration: underline;
}
.tab-container:focus{
    color: #FA3F63;
    text-decoration: underline;
}